/* ADD YOUR MEDIA QUERIES HERE */
@media screen and (max-width: 1600px) {
    .section__pic-container {
        width: 100%;
        height: auto;
        padding-left: -2%;
    }
    .arrow {
        display: flex;
    }
    #desktop-nav {
        display: flex;
    }
    #hamburger-nav {
        display: none;
    }
}
@media screen and (max-width: 1400px) {
    .logo {
        font-size: 5rem;
    }
    #desktop-nav {
        display: flex;
    }
    #hamburger-nav {
        display: none;
    }
    #profile,
    #profile-2,
    .section-container {
        display: block;
    }
    #subsystems, #theteam {
        margin-top: 15rem;
    }
    .arrow {
        display: flex;
        padding-right: 8rem;
    }
    .section,
    .section-container,
    .subsystems-details-container {
        width: fit-content;
        height: auto;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 100%;
        height: auto;
    }
    .subsystems-containers {
        margin-top: 0;
    }
    .subsystems-details-container {
        margin-top: 2rem;
        width: fit-content;
        text-align: center;
        height: auto;
    }
    #documents{
        margin-top: 15rem;
    }
}

@media screen and (max-width: 1200px) {
    .logo {
        font-size: 5rem;
    }
    #desktop-nav {
        display: none;
    }
    
    #hamburger-nav {
        display: flex;
        z-index: 1;
    }
    #profile,
    #profile-2,
    .section-container {
        display: block;
    }
    #subsystems, #theteam {
        margin-top: 1rem;
    }
    .arrow {
        display: none;
    }
    .section,
    .section-container,
    .subsystems-details-container {
        height: auto;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 100%;
        height: auto;
        z-index: 2;
    }
    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }
    .subsystems-containers {
        margin-top: 0;
    }
    .subsystems-details-container {
        margin-top: 2rem;
        width: fit-content;
        text-align: center;
    }
    #documents{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        font-size: 5rem;
    }
    #desktop-nav {
        display: none;
    }
    #nav, .nav-links-container {
        width: fit-content;
    }
    #hamburger-nav, .menu-links {
        z-index: 1;
    }

    #profile,
    #profile-2,
    .section-container {
        display: block;
        position: relative;
    }
    #subsystems, #theteam {
        margin-top: 1rem;
    }
    .arrow {
        display: none;
    }
    .section,
    .section-container,
    .subsystems-details-container {
        width: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 100%;
        height: auto;
        z-index: 2;
    }
    .subsystems-containers {
        margin-top: 0;
    }
    .subsystems-details-container {
        margin-top: 2rem;
        width: fit-content;
        text-align: center;
    }
    #documents{
        margin-top: 2rem;
    }
}
